@media only screen and (min-width: 768px){
    .main{
        background-image: linear-gradient(#fff,rgb(139, 220, 255));
    }
    .navbar{
        display: flex;
        justify-content: space-around;
        background-image: linear-gradient(#fff,rgb(139, 220, 255));
    }
    .menu{
        position: relative;
        
    }
    ul{
        /* position: absolute; */
        display: inline-block;
    }
    .btndrop {
        background-color: transparent;
            /* padding: 16px;
            font-size: 16px; */
        border: none;
        transition: all .5s ease;
      
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .aboutdrop{
        display: none;
        border-radius: 10px;
        position: absolute;
        /* background-color: #3081EE; */
        background-image:linear-gradient(#fff,rgb(139, 220, 255)) ;
    
        min-width: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .aboutdrop a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .aboutdrop a:hover{
        color:hsl(198, 79%, 35%);
        scale: 1.2;
        
    }
    .dropdown:hover .aboutdrop{
        display: block;
    }
    .dropdown:hover .btndrop{
        scale:1.1;
        color:hsl(198, 79%, 35%);
    } 

}