*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    /* background-image:linear-gradient(#fff,rgb(139, 220, 255)) ; */
    

}

.navbar{
    align-items: center;
    width: 100%;
    display: flex;
    background-image:linear-gradient(#fff,rgb(139, 220, 255)) ;
    justify-content: space-around;
    position: fixed;
    padding: 10px;
    z-index: 1; 
}

.navbar h1{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
   
}

.menu{
    width:600px;
}
.btndrop {
    background-color: transparent;
        /* padding: 16px;
        font-size: 16px; */
    border: none;
    transition: all .5s ease;
  
}
.dropdown {
    position: relative;
    display: inline-block;
}
.aboutdrop{
    display: none;
    border-radius: 10px;
    position: absolute;
    /* background-color: #3081EE; */
    background-image:linear-gradient(#fff,rgb(139, 220, 255)) ;

    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.aboutdrop a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.aboutdrop a:hover{
    color:hsl(198, 79%, 35%);
    scale: 1.2;
    
}
.dropdown:hover .aboutdrop{
    display: block;
}
.dropdown:hover .btndrop{
    scale:1.1;
    color:hsl(198, 79%, 35%);
}


.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    cursor: pointer;
}
.menu ul li:focus,.menu ul li{
    transition: all .5s;
  
}    
.menu ul li:hover{
    color:hsl(198, 79%, 35%);
    scale: 1.5;
}
.menu ul li a{
    color: black;
}
.menu ul li a:hover{
    color: hsl(198, 79%, 35%);
   
}

.content{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.card{
    width: 270px;
    height: 290px;
    /* background-color: black; */
}
.card{
    width: 360px;
    /* height:auto; */
    border-radius: 360px;
    position: relative;
}
.card img{
    /*position: relative;
    */width: 360px;
    /*height:auto;
    */border-radius: 360px;
    border: solid 5px rgb(66, 66, 207);
    transition: all  .5s linear  ;
    
} 
.card img:hover{
    scale: 1.1;
    border: 2px solid black;
    box-shadow: 0 5px 20px rgb(62, 62, 62);
    
}
.myimg,.mydetails{
    justify-content: space-around;
    width: 40%;   
    
}
.move #spin{
    color: gray;
}
#spin::after{
    content: "";
    animation: spin 5s infinite;
    transition: all .5s ease;
}
@keyframes spin{
    0%{
        content: "web designer";
    }
    
    100%{
        content: "Full-Stack Developer"
    }
}

button.download,.contact{
    border-radius: 10px;
    padding: 5px;
    border-color: rgb(66, 66, 207);
    cursor: pointer;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
button.download:hover,.contact:hover{
    /* background-color:hsl(198, 48%, 72%); */
    background-color: transparent;
    color:rgb(66, 66, 207);
    font-weight: bold;
    scale: 1.1;

}
.content2{

    width: 100%;
    align-items: center;
    justify-content: space-around;
    
    padding-top: 35px;
}
.heder{
    text-align: center;
    border-bottom: 2px solid black;
}
.do{
    display: flexbox;
    justify-content: space-around;
    align-items: center;
    padding: 20px;   
  
}

.progress-bar {
    height: 15px;
    background-color: #f3f3f3;
    border-radius: 5px;
    width: 100%;
    position: relative;
    font-weight: bold;
    

}

.progress {
    position: absolute;
    height: 100%;
    background-color: #4caf50;
    width: 0%;
    border-radius: 5px;
} 
.softskills .hed{
    text-align: center;
    border-bottom: 2px solid black;  
}

.softskills{
    padding: 25px;
    
}
.softskills h4{
    justify-content: space-between;
}
.education {
    /* padding: 25px; */
    padding: 40px;
    /* height: 90vh; */
}
.education h1{
    text-align: center;
    border-bottom: 2px solid black;
}
.education p{
    padding-left: 50px;
}
.eduimg img{
    width: 400px;
    filter: drop-shadow(7px 7px 7px white);
}
.persnoalinfo .pdetails{
    text-align: center;
    border-bottom: 2px solid black;
    padding-top: 25px;
}
.persnoalinfo{
    padding: 25px;  
}
.dbox{
    border: 2px solid black;
    padding: 40px;
    display: flex;
    justify-content: space-between;  
}
.persnolainfoq i{
    font-size: 10px;
    /* text-align: center; */
}
.persnolainfoq{
    font-weight: bold;
}
.pmydetails{
    display: flex;
   
}
.persnoalimg img{
    width: 230px;
    filter: drop-shadow(7px 7px 7px white);
    -webkit-filter: drop-shadow(7px 7px 7px white);
}
.hobies{
    padding: 25px;
}
.hobiesdetails{
    text-align: center;
    border-bottom: 2px solid black;
    padding-top: 25px;
}
.hobbiesimg img{
    width: 200px;
    filter: drop-shadow(7px 7px 7px white);
}



/* Media Query for mobilephone */

    
